<div class="login-container animated fadeInDown" ng-controller="loginCtrl">
    <div class="loginbox bg-white">
        <div class="loginbox-title">LOG IN</div>

        <div class="loginbox-textbox">
            <input type="text" class="form-control" id="txtUserName" placeholder="User name" ng-model="loginData.userName" />
        </div>
        <div class="loginbox-textbox">
            <input type="password" class="form-control" placeholder="Password" id="txtPassword" ng-model="loginData.passWord" />
        </div>
        
        <div class="loginbox-submit">
            <input type="button" class="btn btn-primary btn-block" value="Login" id="btnLogin" ng-click="login()">
        </div>
        
    </div>
    <div class="logobox">
        {{message}}
    </div>
</div>