<div ng-controller="thuchiCtrl">
    <script type="text/ng-template" id="CapNhatThuChi.html">
        <div class="row">
            <div class="widget">
                <div class="widget-header bordered-bottom bordered-blue">
                    <span class="widget-caption">Thông tin</span>
                </div>
                <div class="widget-body">
                    <div ng-class="{disabledbutton: loadingAction}">
                        <form role="form">

                            <div class="form-group">
                                <label for="txtTen">Tiền</label>
                                <input type="number" class="form-control" id="txtTen" placeholder="Họ và tên" ng-model="Thuchi.Tien">
                            </div>

                            <div class="form-group">
                                <label for="cboLyDo">Lý do</label>
                                <select class="form-control" id="cboLyDo" placeholder="Lựa chọn lý do" ng-model="Thuchi.LydoId">
                                    <option ng-repeat="item in Lydoes" value="{{item.LydoId}}">{{item.TenLyDo}}</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="cboNguoi">Người thu chi</label>
                                <select class="form-control" id="cboNguoi" placeholder="Lựa chọn người thu chi" ng-model="Thuchi.NguoiThuchiId">
                                    <option ng-repeat="item in NguoiThuChis" value="{{item.NguoiThuchiId}}">{{item.HoTen}}</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <input type="checkbox" class="colored-blue" ng-model="Thuchi.KieuThu" />
                            </div>

                            <div class="form-group">
                                <label for="txtGhiChu">Ghi chú</label>
                                <input type="text" class="form-control" id="txtGhiChu" placeholder="Ghi chú" ng-model="Thuchi.GhiChu">
                            </div>

                            <div class="buttons-preview">
                                <a class="btn btn-info" href="javascript:void(0);" ng-click="Insert()"><i class="fa fa-plus"></i> Thêm mới</a>

                                <a class="btn btn-success" href="javascript:void(0);" ng-click="Commit()" confirm='Bạn chắc chắn muốn cập nhật?'>Cập nhật <i class="fa fa-check right"></i></a>

                                <a class="btn btn-danger" href="javascript:void(0);" ng-click="Delete()" confirm='Bạn có muốn xóa?'><i class="fa fa-times"></i> Delete</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <alert type="danger" class="radius-bordered alert-shadowed" ng-show="{{message != ''}}">
                <i class="fa-fw fa fa-times"></i>
                <strong>{{message}}</strong>
            </alert>
        </div>
        <div class="row">
            <div class="center-block" data-loading>
                <i class="fa fa-spinner fa-spin fa-3x fa-fw center"></i>
            </div>
        </div>
    </script>
    <div class="row">
        <div class="well with-header with-footer">
            <div class="header bordered-pink">
                <div class="form-group">
                    <input type="month" class="form-control" id="cbothangbothang" ng-model="Thang">
                </div> 
                <div class="buttons-preview">
                    <a class="btn btn-info btn-xs" href="javascript:void(0);" ng-click="Insert()"><i class="fa fa-plus"></i> Thêm mới</a>
                    <a class="btn btn-success btn-xs" href="javascript:void(0);" ng-click="Update()">Sửa <i class="fa fa-check right"></i></a>
                    <a class="btn btn-danger btn-xs" href="javascript:void(0);" ng-click="Delete()" confirm='Bạn có muốn xóa?'><i class="fa fa-times"></i> Delete</a>
                </div>
            <table class="table table-striped table-bordered table-hover" ng-class="{disabledbutton: loadingAction}">
                <thead>
                    <tr>
                        <th>
                            <i class="fa fa-user"></i> Người thu chi
                        </th>
                        <th>
                            <i class="fa fa-briefcase"></i> Lý do
                        </th>
                        <th>
                            <i class="fa fa-money"></i> Tiền
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in ThuChis" ng-click="Select({{item.ThuchiId}})"
                        ng-class="{info: item.ThuchiId === Thuchi.ThuchiId}">
                        <td>
                            {{item.NguoiThuchi.HoTen}}
                        </td>
                        <td>
                            {{item.Lydo.TenLydo}}
                        </td>
                        <td class="success" ng-class="{danger: item.Tien < 0}">
                            {{item.Tien}}
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="footer">

            </div>
        </div>
    </div>
</div>