    <!-- Page Sidebar Header-->
<div class="sidebar-header-wrapper">
    <input type="text" class="searchinput" />
    <i class="searchicon fa fa-search"></i>
    <div class="searchhelper">Search Reports, Charts, Emails or Notifications</div>
</div>
<!-- /Page Sidebar Header -->
<!-- Sidebar Menu -->
<ul class="nav sidebar-menu">
    <!--Dashboard-->
    <li ui-sref-active="active">
        <a ui-sref="app.dashboard">
            <i class="menu-icon glyphicon glyphicon-home"></i>
            <span class="menu-text"> Dashboard </span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.nguoithuchi">
            <i class="menu-icon glyphicon glyphicon-user"></i>
            <span class="menu-text"> Người thu chi </span>
        </a>
    </li>

    <li ui-sref-active="active">
        <a ui-sref="app.lydo">
            <i class="menu-icon glyphicon glyphicon-ban-circle"></i>
            <span class="menu-text"> Lý do thu chi </span>
        </a>
    </li>
    <!--Databoxes-->
   
</ul>
<!-- /Sidebar Menu -->
